{% extends "templates/web.html" %}

{% block title %} {{ title }} {% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block page_content %}
<nav class="product-container item-breadcrumbs small lt-product-breadcrumbs" aria-label="{{ _('Breadcrumb') }}">
	<a href="/shop">{{ _("All Balloon Decor") }}</a>
	{% for parent in parents or [] %}
		{% if parent.name not in ("Home", "Shop by Category", "All Products", "Shop Items") %}
			{% set route = parent.route or "" %}
			<span aria-hidden="true">&rsaquo;</span>
			<a href="{{ route if route and route[0] == '/' else '/' ~ route }}">
				{{ _(parent.name) }}
			</a>
		{% endif %}
	{% endfor %}
	<span aria-hidden="true">&rsaquo;</span>
	<span aria-current="page">{{ title }}</span>
</nav>
<div class="product-container item-main lt-product-page__main">
	{% from "webshop/templates/includes/macros.html" import product_image %}
	<div class="item-content lt-product-page__content">
		<div class="product-page-content" itemscope itemtype="http://schema.org/Product">
			<!-- Image, Description, Add to Cart -->
			<div class="row mb-5 lt-product__summary-row">
				{% include "templates/generators/item/item_image.html" %}
				{% include "templates/generators/item/item_details.html" %}
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block base_scripts %}
<!-- js should be loaded in body! -->
{% include "templates/includes/frappe_public_boot.html" %}
<script type="text/javascript" src="/assets/frappe/js/lib/jquery/jquery.min.js"></script>
{{ include_script("frappe-web.bundle.js") }}
{{ include_script("controls.bundle.js") }}
{{ include_script("dialog.bundle.js") }}
{% endblock %}
